body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:566px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:168px;
  width:420px;
  height:566px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:59px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:99px;
  width:420px;
  height:59px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:83px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:83px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:114px;
  width:395px;
  height:24px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:183px;
  width:397px;
  height:476px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
